/* header styles */

header {
  background: rgba(255, 144, 14, 0.1);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 200px 100px 200px;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  margin-right: 1.5rem;
}
nav ul li a {
  text-decoration: none;
  color: #424242;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
.nav-title {
  color: #131313;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}
