/* shared styles */
.btn-primary {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  padding: 1.5rem;
  border-radius: 8px;
  background: #ff900e;
  color: white;
}
/* header styles */

header {
  width: 100%;
  background: rgba(255, 144, 14, 0.1);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 200px 100px 200px;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  margin-right: 1.5rem;
}
nav ul li a {
  text-decoration: none;
  color: #424242;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
.nav-title {
  color: #131313;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}
.banner-container {
  width: 100%;
  text-align: center;
}
.banner-content {
  width: 800px;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  text-align: center;
  margin: 5px auto;
  font-size: 3.5rem;
  font-weight: 700;
}
.banner-desc {
  width: 100%;
  color: #727272;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}
.banner-container img {
  width: 80%;
  margin: 30px auto 25px auto;
}

/* main section */
main {
  width: 100%;
}
.team-container {
  margin: 6rem 6rem;
  display: flex;
  align-items: center;
}
.team-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.team-img img {
  width: 300px;
}
.team-content {
  margin-left: 2.5rem;
}
.team-content h2 {
  color: #131313;
  font-size: 2.5rem;
  font-weight: 700;
}
.quick-list {
  color: #727272;
  font-size: 2.5rem;
  font-weight: 500;
}
.team-feature {
  color: #ff900e;
  font-size: 2.5rem;
  font-weight: 700;
}
.team-content p {
  text-align: justify;
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
}
.features {
  margin: 100px auto;
  gap: 100px;
  width: 90%;
  display: flex;
}
.feature-content h3 {
  color: #131313;
  font-size: 2.5rem;
  font-weight: 700;
  border-left: 5px solid #ff900e;
  padding-left: 10px;
  margin-bottom: 0px;
}
.feature-content p,
.feature-card-container p {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 15px;
}
.feature-img img {
  width: 600px;
  margin-left: 30px;
}

.feature-card-container .card {
  border-radius: 8px;
  background: #fff;
  padding: 16px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-card-container h4 {
  color: #131313;
  font-size: 1rem;
  font-weight: 600;
}
.experience-badge {
  position: relative;
  bottom: 130px;
  width: 280px;
  border-radius: 8px;
  background: #ff900e;
}
.experience-badge h3 {
  color: #fff;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.experience-badge p {
  margin-top: 0px;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
}
/* responsive styles */
@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    padding: 20px;
  }
  .banner-content {
    width: 80%;
  }
  .team-container {
    flex-direction: column-reverse;
  }
  .team-img {
    grid-template-columns: repeat(1, 1fr);
  }
  .team-content {
    width: 300px;
  }
  .team-content p {
    padding: 0.5rem;
    text-align: left;
  }
  .btn-primary {
    margin-bottom: 1rem;
  }
  .features {
    margin: 10px;
    flex-direction: column;
    gap: 20px;
  }
  .feature-img img {
    width: 80%;
  }
  .experience-badge {
    position: relative;
    bottom: 70px;
    width: 50%;
  }
  .experience-badge h3 {
    font-size: 2rem;
  }
  .experience-badge p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 960px) {
  nav {
    flex-direction: column;
    padding: 40px;
  }
  .banner-content {
    width: 100%;
  }
  .team-container {
    flex-direction: column-reverse;
  }
  .team-content button {
    margin-bottom: 0.5rem;
    margin-left: 13rem;
  }
}
.features {
  flex-direction: column;
}
.feature-img img {
  margin: 10px 60px;
}
